<div class="footer mt-5">
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-6">
                <p class="brand"> {{'Market' | uppercase}} </p>
                <p class="copyright"> Copyright © 2023 All rights reserved </p>
            </div>
            <div class="col-sm-6 text-center links">
                <p class="me-2" routerLink="/">Home</p>
                <p class="me-2">About</p>
                <p>Contact</p>
            </div>
        </div>
    </div>
</div>