.cart-page{
    margin-top: 40px;
    margin-bottom: 60px;
}
.cart-page h3{
    text-align: center;
}
.details{
    border: 1px solid #ddd;
    padding: 1em;
}
.details img{
    height: 100px;
    width: 100px;
}
.details ul{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.details .prdName{
    width: 200px;
}
.details .prdPrice{
    width: 100px;
}
.summary{
    margin-top: 20px;
    margin-bottom: 20px;
}
.summary h4{
    text-align: center;
}
.summary ul{
    list-style: none;
    padding: 5%;
    border: 1px solid #ddd;
}
.summary li{
    display: flex;
    justify-content: space-between;
}
.line{
    border-top: 1px solid #ddd;
    margin: 1em 0;
}
.p-message{
    color: green !important;
}
.fa-trash{
    color: red;
    /* border: 2px solid var(--mainColor);
    padding: 0.5em;
    border-radius: 5px; */
}
.remove{
    margin-top: 50%;
}
.quantity{
    width: 40%;
}
.quantity-group button{
    padding: 0.5em 0.9em;
}
.quantity-group input{
    width: 100px;
    text-align: center;
}

