<div class="container">
    <div class="row product-details gx-5" *ngIf="productData">
        <div class="col-sm-6">
            <!-- <img class="product-image" src="{{productData.image}}" alt=""> -->
            <ngb-carousel >
                <ng-template *ngFor="let item of productData.images" ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="{{item}}" class="product-header-img">
                  </div>                  
                </ng-template>
              </ngb-carousel>
           
              
        </div>
        <div class=" col-sm-5">
            <div class="details">
            <h2>{{productData.name}}</h2>
            <h4>Price: {{productData.price}}</h4>
            <div>
                <b>Color: </b>
                <h5 [style.backgroundColor]="productData.color" class="product-color">
                </h5>
            </div>
            <h6><b>Category:</b> {{productData.category}}</h6>
            <h6><b>Description:</b> {{productData.description}}</h6>
            <h6 ><b>Details:</b> <h6 [innerHTML]="productData.details" > </h6></h6>
            <div *ngIf="lowStock" class="lowStock">{{lowStockMsg}}</div>
            <br>
            <!-- <button class="btn action-btn me-2" (click)="addToCart()"><b>Add to Cart</b></button> -->
            <button class="btn action-btn me-2" (click)="addToCart()" *ngIf="!removeCart" [disabled]="productData.availableQuantity ==0"><b>Add to Cart</b></button>
            <button class="btn action-btn me-2" (click)="removeFromCart(productData.id)" *ngIf="removeCart"><b>Remove from Cart</b></button>
            <!-- <button class="btn action-btn"><b>Buy Now</b></button> -->
            <div class="quantity-group mt-3">
                <button class="btn btn-sm action-btn" (click)="handleQuantity('min')" [disabled]="productQuantity === 1"><b>-</b></button>
                <input class="form-control d-inline mx-3" type="number" value="{{productQuantity}}" >
                <button class="btn btn-sm action-btn" (click)="handleQuantity('plus')" [disabled]="productQuantity == availableQuantity"><b>+</b></button>
            </div>
            </div>
        </div>

    </div>
</div>