<div class="user-auth text-center">
  <div class="user-signup mb-4" *ngIf="!showLogin">
    <h4 class="text-center">User Signup</h4>
    <form
      #userSignUp="ngForm"
      (ngSubmit)="signUp(userSignUp.value)"
      class="d-flex flex-column align-items-center"
    >
      <input
        type="text"
        class="form-control w-75 mb-2"
        name="name"
        placeholder="Enter your name"
        ngModel
      />
      <input
        type="text"
        class="form-control w-75 mb-2"
        name="email"
        placeholder="Enter your email"
        ngModel
      />
      <input
        type="password"
        class="form-control w-75 mb-2"
        name="password"
        placeholder="Enter your password"
        ngModel
      />
      <button class="btn action-btn my-3 w-75">Signup</button>
      
    </form>
  </div>
  <div class="user-login mb-4" *ngIf="showLogin">
    <h4 class="text-center">User Login</h4>
    <form
      #userLogin="ngForm"
      (ngSubmit)="login(userLogin.value)"
      class="d-flex flex-column align-items-center"
    >
    <p class="error-p">{{authError}}</p>
      <input
        type="text"
        class="form-control w-75 mb-2"
        name="email"
        placeholder="Enter your email"
        ngModel
        required
        #email="ngModel"
        email
      />
      <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please Enter a Valid Value</span></p>
      <input
        type="password"
        class="form-control w-75 mb-2"
        name="password"
        placeholder="Enter your password"
        ngModel
        required
        #password="ngModel"
        minlength="4"
        maxlength="20"
      />
      <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please Enter a Valid Value</span></p>
      <button class="btn action-btn w-75" [disabled]="userLogin.invalid">Login</button>
      
    </form>
    
  </div>
  <Span *ngIf="!showLogin">
    Already have account?
    <a class="auth-toggle-link" (click)="openLogin()">Click here to Login</a>
  </Span>
  <Span *ngIf="showLogin">
    Want to create account?
    <a class="auth-toggle-link " (click)="openSignup()">Click here to Signup</a>
  </Span>
  
</div>
