/* .user-auth{
    height: 55.4vh;
} */
.auth-toggle-link{
    margin-top: 20px;
    color: var(--mainColor);
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
}