body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--mainBgColor);
}
.invalid-input{
    color: red;
    font-size: 12px;
}
.error-p{
    color: red;
}
:root{
    --mainBgColor:#FAF7F2;
    --mainColor: #9F7B61;
    --link: #8E6E35;
    --gray: rgba(0, 0, 0, 0.55);
    --white: #ffffff
}
.line{
    border: 1px solid var(--mainColor);
    width: 8%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
}
