
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--mainBgColor);
}
html,
body {
  position: relative;
  height: 100%;
}
app-root {
  min-height: 100%;
  display: block;
  position: relative;
}
.invalid-input {
  color: red;
  font-size: 12px;
}
.error-p {
  color: red;
}
:root {
  /* --mainBgColor:#FAF7F2; */
  --mainBgColor: white;
  --mainColor: #274690;
  --link: #274690;
  /* --gray: rgba(0, 0, 0, 0.55); */
  --gray: #333333;
  --white: #ffffff;
  --gb: #f2eee8;
  --wh: #ffffff;
  --dark: #383a41;
  --red: #eb6d6d;
  --blue: #5e7fdc;
  --break: 400px;
}
.line {
  border: 1px solid var(--mainColor);
  width: 8%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}
.action-btn {
  background-color: var(--mainColor);
  color: var(--white);
  transition: transform 0.4s;
}
.action-btn:hover {
  background-color: var(--mainColor);
  color: var(--white);
  transform: scale(1.05);
}
.footer {
  position: absolute;
  bottom: -121px;
  width: 100%;
}
