<ngb-carousel *ngIf="popularProducts">
	<ng-template *ngFor="let item of popularProducts" ngbSlide >
		<div class="picsum-img-wrapper">
			<img routerLink="/details/{{item.id}}" src="{{item.image}}" class="product-header-img" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>{{item.name}}</h3>
			<p>{{item.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>
<div class="product-list-wrapper">
	<h1>Trendy Products</h1>
	<div class="row">
		<div class="col-sm-3 mb-3" *ngFor="let item of trendyProducts">			
			<div class="card py-3 text-center" >
				<img class="card-img-top w-75 m-auto" src="{{item.image}}" alt="Card image cap">
				<div class="card-body">
				  <div class="card-title">{{item.name}}</div>
				  <div class="product-details">
					<p class="card-text">Price: {{item.price}}</p>
					<p class="card-text">Color: {{item.color}}</p>
					<hr>
					<div class="d-flex justify-content-around">
						<a routerLink="/details/{{item.id}}" class="action">View Details</a>
						<a href="#" class="action" >Add to Cart</a>
					</div>
					
				  </div>
				
				</div>
			  </div>
		</div>
		
	</div>
</div>