<ngb-carousel *ngIf="popularProducts">
  <ng-template *ngFor="let item of popularProducts" ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        routerLink="/details/{{ item.id }}"
        src="{{ item.image }}"
        class="product-header-img"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
    </div>
  </ng-template>
</ngb-carousel>
<!-- Start Categories -->
<!-- <div class="categories mt-5 text-center container">
  <h4>{{ 'Hot Categories' | uppercase }}</h4>
  <div class="line"></div>
  <div class="row justify-content-around cat-row">
    <div class="col-md-3 col-sm-6 category" *ngFor="let category of categories">
      <img src="{{ category.image }}" alt="" class="w-100" />
      <div class="category-caption">
        {{ category.name }}
      </div>
    </div>
  </div>
</div> -->
<!-- End Categories -->

<!-- Start Trendy Products -->
<div class="product-list-wrapper container">
  <h4 class="text-center">{{ 'Trendy Products' | uppercase }}</h4>
  <div class="line"></div>
  <div class="row">
    <div class="col-sm-3 mb-3" *ngFor="let item of trendyProducts">
      <div class="card-test">
        <div class="image-part">
          <div class="product">
            <a>
              <img src="{{ item.image }}" alt="" />
            </a>
          </div>
          <div class="card-buttons">
            <div class="card-btn mb-2" routerLink="/details/{{ item.id }}">View Details</div>
            <!-- <div class="card-btn">Add To Cart</div> -->
          </div>
          <div class="category py-2">
            {{ item.category }}
          </div>
        </div>
        <div class="detail-part">
          <div class="detail-part-top" routerLink="/details/{{ item.id }}">
            {{ item.name }}
          </div>
          <div class="detail-part-bottom">{{ item.price }} EGP</div>
        </div>
      </div>

      <!-- <div class="card py-3 text-center">
        <img
          class="card-img-top w-75 m-auto"
          src="{{ item.image }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="card-title">{{ item.name }}</div>
          <div class="product-details">
            <p class="card-text">Price: {{ item.price }}</p>
            <p class="card-text">Color: {{ item.color }}</p>
            <hr />
            <div class="d-flex justify-content-around">
              <a routerLink="/details/{{ item.id }}" class="action">
                View Details
              </a>
              <a href="#" class="action">Add to Cart</a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- End Trendy Products -->

<!-- Start About -->
<div class="about mt-5 py-5 container" data-aos="fade-up" data-aos-duration="1000">
  <div class="row">
    <div class="col-sm-6">
      <h2>{{ 'About' | uppercase }}</h2>
      <div class="line"></div>
      <div class="about-text">
        <p>
          The About page is the core description of your website. Here is where
          you let clients know what your website is about. You can edit all of
          this text and replace it with what you want to write. For example you
          can let them know how long you have been in business, what makes your
          company special, what are its core values and more.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
          placeat, rerum provident quia, quasi sint ipsam nostrum ullam.
        </p>
      </div>
    </div>
    <div class="col-sm-6 d-flex align-items-end">
      <img
        src="https://images.unsplash.com/photo-1413708617479-50918bc877eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=873&q=80"
        alt=""
        class="about-img"
      />
    </div>
  </div>
</div>
<!-- End About -->

<!-- Start contact -->
<div class="contact mt-5 container">
	<h4 class="text-center">{{ 'Contact' | uppercase }}</h4>
	<div class="line"></div>
	<div class="row">
		<div class="col-sm-6 text-center">
			<div class="address">
				Giza Governorate, Egypt
			</div>
			<div class="email">
				<i class="fa-regular fa-envelope"></i>
				<span class="ms-2">ola.khireldin@gmail.com</span>
			</div>
		</div>
		<div class="col-sm-6">
			<form #contact="ngForm" (ngSubmit)="contact.value">
				<div class="row">
					<div class="col-sm-6">
						<input type="text" placeholder="Name" class="form-control mb-2" name="name" ngModel>
					</div>
					<div class="col-sm-6">
						<input type="text" placeholder="Phone" class="form-control mb-2" name="phone" ngModel>
					</div>
				</div>
				<div class="row">
					<div>
						<input type="email" placeholder="Email address" class="form-control mb-2" name="email" ngModel>
					</div>
				</div>
				<div class="row">
					<div>
						<textarea class="form-control mb-2" placeholder="Message" id="exampleFormControlTextarea1" rows="3" ></textarea>
					</div>
				</div>
				<div>
					<button class="btn btn-sm submit w-100">{{'Contact Us' | uppercase}}</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- End contact -->
